<section fxLayout="row wrap" >
  <mat-card  fxFlex.xs="100%">
    <mat-card-title>Update a new medicineCategory</mat-card-title>
    {{medicineCategoryFormValue}}
    <form [formGroup]="medicineCategoryForm" autocomplete="off" novalidate (ngSubmit)="update(medicineCategoryForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <p>
         <mat-form-field >
          <input matInput type="text" placeholder="MedicineCategory name" formControlName="category" id="category">
          <mat-error *ngIf="hasError('category', 'required')">Name is required</mat-error>
        </mat-form-field>
</p>

      </mat-card-content>
      <p>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!medicineCategoryForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
      </p>
    </form>
  </mat-card>
</section>