<section fxLayout="row wrap" >
  <mat-card  fxFlex.xs="100%">
    <mat-card-title>Update a new doctor</mat-card-title>
    {{doctorFormValue}}
    <form [formGroup]="doctorForm" autocomplete="off" novalidate (ngSubmit)="update(doctorForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <p>
         <mat-form-field >
          <input matInput type="text" placeholder="Doctor name" formControlName="doctorName" id="doctorName">
          <mat-error *ngIf="hasError('doctorName', 'required')">Name is required</mat-error>
        </mat-form-field>
</p>
<p>
        <mat-form-field>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
          <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
        </mat-form-field>
</p>

      </mat-card-content>
      <p>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!doctorForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
      </p>
    </form>
  </mat-card>
</section>